### <b>1.0 BASICS</b>
(print function, variables, variable types, strings, operations, booleans)

1.1 Create `pi` variable with value of 3.14. Create `r` variable with value of 12. Calculate the area of the circle and assign the result to new variable, `area`.

In [ ]:
pi = 3.14
r = 12
area = 3.14 * r ** 2
print(area)

1.2 Change the type of variables `a`, `b` and `c` to numeric types (int or float) and calculate their sum.
Save the result to the variable `result` and display it on the screen.

In [2]:
a = "12"
b = "35.5"
c = True

In [3]:
result = int(a) + float(b) + int(c)
print(result)

48.5

1.3 Create 2 variables: `firstname` and `surname`, which will contain your first and last name.

In [4]:
firstname = 'Agata'
lastname = 'Radzikowska'

In [41]:
#A Concatenate these variables so that they are separated by a space and save the result to the fullname variable.
fullname = firstname + ' ' + lastname
print(fullname)

#B Use the f-string to display the contents of the fullname variables, so that the contents of the variable
# are preceded by the words "My name is ".
print(f'My name is {firstname} {lastname}.')

#C Display the total length of the firstname and surname variables.
print(len(firstname)+len(lastname))

Agata Radzikowska
My name is Agata Radzikowska.
16

### <b>2.0 LISTS </b>

2.1 Below is a list `websites`.

In [6]:
websites = ['google.com', 'facebook.com', 'twitter.com', 'pinterest.com', 'python.org']
polish_websites = ['onet.pl', 'interia.pl', 'wp.pl']

In [7]:
#A What index is 'pinterest.com' under?
websites.index('pinterest.com')

3

In [8]:
#B Replace the value of the fifth item with 'yahoo.com'.
websites[4] = 'yahoo.com'
print(websites)

['google.com', 'facebook.com', 'twitter.com', 'pinterest.com', 'yahoo.com']

In [9]:
#C Add a new item to the end of the list: 'bing.com'
websites.append('bing.com')
print(websites)

['google.com', 'facebook.com', 'twitter.com', 'pinterest.com', 'yahoo.com', 'bing.com']

In [10]:
#D Using indexing, create a sublist consisting of 'facebook.com', 'twitter.com'.
# Assign the result to the variable `social_networks`.
social_networks = websites[1:3]
print(social_networks)

['facebook.com', 'twitter.com']

In [42]:
#E Extend the `websites` list with elements from the `polish_websites` list. How many items are in the `websites` list now?
websites.extend(polish_websites)
len(websites)

12

2.2 Using the `numbers` list:

In [39]:
numbers = [1, 8, 6, 6, 6, 7, 2, 0, 3, 0, 2, 3, 7, 0, 7, 2, 0, 3, 9, 4]

In [40]:
#A Display the second item on the screen.
numbers[1]

9

In [43]:
#B Count how many elements of the list have the value 7 (use the `count` method).
numbers.count(7)

3

In [44]:
#C How many items does the list contain?
len(numbers)

20

In [46]:
#D How do you check what is the largest value contained in the list?
max(numbers)

9

2.3 The iris_setosa list contains information about 4 specimens of the bristle iris:
<br> The first index is the length of the flower.
<br> The second index is the width of the flower.
<br> The third index is the length of the leaf.
<br> The fourth index is the width of the leaf.

In [48]:
iris_setosa  = [
    [5.1, 3.5, 1.4, 0.2],
    [4.9, 3, 1.4, 0.2],
    [4.7, 3.2, 1.3, 0.2],
    ]

In [50]:
#A Calculate the average flower width.
av_flower_wdth = (iris_setosa[0][0] * iris_setosa[0][1] +
                 iris_setosa[1][0] * iris_setosa[1][1] +
                 iris_setosa[2][0] * iris_setosa[2][1]) / 3

print(round(av_flower_wdth,2))

15.86

In [51]:
#B Add data about a new copy to the list: (5.4, 3.9, 1.7, 0.4)
iris_setosa.append([5.4, 3.9, 1.7, 0.4])
print(iris_setosa)

[[5.1, 3.5, 1.4, 0.2], [4.9, 3, 1.4, 0.2], [4.7, 3.2, 1.3, 0.2], [5.4, 3.9, 1.7, 0.4]]

2.4 List `l` containts 2 elements (lists). Create new list (`l_flat`) which contains each element from those two lists.

In [12]:
l = [[9, 8, 12, 7], [12, 33, 8, 7]]

In [13]:
l_flat1 = l[0]+l[1]
print(l_flat1)

[9, 8, 12, 7, 12, 33, 8, 7]

### <b>3.0 DICTIONARIES </b>

3.1 Using the following dictionaries, which contains information from WikiData about Adam Mickiewicz, complete the following tasks:

In [23]:
data = {
    'name': 'Adam',
    'surname': 'Mickiewicz',
    'native language': 'polish',
    'year of birth': 1798,
    'place of birth': 'Zavosse',
    'year of death': 1855,
    'occupation': ['poet', 'professor', 'playwright']}

cecylia_data = {
    'name': 'Cecylia',
    'surname': 'Szymanowska' }

In [53]:
#A Display A. Mickiewicz's place of birth.
print(data['place of birth'])

Zaosie

In [54]:
#B Calculate how many years A. Mickiewicz lived.
print(data['year of death']-data['year of birth'])

57

In [26]:
#C Add a new `place of death` key with value `Istanbul`.
data['place of death']='Istanbul'
print(data['place of death'])

Istanbul

In [55]:
#D Replace the value of the `place of birth` key with `Zaosie`.
data['place of birth'] = 'Zaosie'
print(data['place of birth'])

Zaosie

In [56]:
#E Add a new key `spouse` whose value is the dictionary `cecylia_data`.
data['spouse']=cecylia_data
print(data['spouse'])

{'name': 'Cecylia', 'surname': 'Szymanowska'}

In [57]:
#F  Display the number of list items that are under the `occupation` key.
print(len(data['occupation']))

3

In [58]:
#G Display the name of A. Mickiewicz's wife.
print(data['spouse']['name'])

Cecylia

3.2 Create dictionary `warehouse` based on list `fruits`. Append elements of a list to dictionary as keys, assign default value 5 to each key.

In [31]:
fruits = ['apple','banana','strawberry','pineapple','orange']
warehouse = {}

In [32]:
warehouse = {x:5 for x in fruits}

In [33]:
warehouse

{'apple': 5, 'banana': 5, 'strawberry': 5, 'pineapple': 5, 'orange': 5}

### <b>4.0 IF, ELIF, ELSE</b>

4.1 Check if the text 'aAaAaA' is in the passwords array. Depending on whether it is present or not, display the appropriate message on the screen.

In [36]:
haslo = 'aAaAaA'
passwords = ['aaAaa', 'aAAAaa', 'aaaaaaA', 'aaaAAAAA', 'aaAAAaa', 'aAaAaA', 'aAaAaAA']

In [35]:
if haslo in passwords:
    print(f'Password {haslo} is on the list, position #{passwords.index(haslo)+1}.')
else:
    print(f'Password {haslo} is NOT the list.')

Password aAaAaA is on the list, position #6.

4.2 Let `x` be the number of points obtained. The standard grading scale is as follows:
<br> x >= 90 -- 5.0
<br> 90 > x >= 80 -- 4.5
<br> 80 > x >= 70 -- 4.0
<br> 70 > x >= 60 -- 3.5
<br> 60 > x >= 50 -- 3.0
<br> x < 50 -- 2.0
<br> The `points` variable contains the number of points obtained by the student. Write a conditional statement that displays the student's grade based on the number of points.

In [61]:
points = 85

In [62]:
if points in range(0, 50):
    print('You didn\'t pass the exam.')
if points in range(50, 60):
    print('You got 3.0')
if points in range(60, 70):
    print('You got 3.5')
if points in range(70, 80):
    print('You got 4.0')
if points in range(80, 90):
    print('You got 4.5')
if points in range(90, 100):
    print('You got 5.0')

You got 4.5

### <b>5.0 FOR </b>

2.3 <b>[USING FOR]</b> The iris_setosa list contains information about 4 specimens of the bristle iris (...)

In [63]:
iris_setosa  = [
    [5.1, 3.5, 1.4, 0.2],
    [4.9, 3, 1.4, 0.2],
    [4.7, 3.2, 1.3, 0.2],
    ]

In [65]:
wdth = 0

for n, flower in enumerate(iris_setosa):
    wdth += (flower[0] * flower[1])
avg_flow_wdth2 = wdth / (n+1)
print(f'Average flower width: {round(avg_flow_wdth2,2)}.')

Average flower width: 15.86.

2.4 <b>[USING FOR]</b> List `l` containts 2 elements (lists). Create new list (`l_flat`) which contains each element from those two lists.

In [ ]:
l = [[9, 8, 12, 7], [12, 33, 8, 7]]

In [ ]:
l_flat2 = [x for y in l for x in y]
print(l_flat2)

4.2 <b>[USING FOR] </b> Let `x` be the number of points obtained. The standard grading scale is as follows (...)

In [11]:
#C reate grades dictionary:
points = 85

grades = {
        range(0, 50) : '2.0',
        range(50, 60) : '3.0',
        range(60, 70) : '3.5',
        range(70, 80) : '4.0',
        range(80, 90) : '4.5',
        range(90, 100) : '5.0'
          }

In [12]:
for key in grades:
    if points in key:
        print(f'You got {grades[key]}.')

You got 4.5.

In [21]:
for key in grades:
    if points in key:
        print(grades[key])

4.5

5.1 Display sum of numbers from 1 to 678.

In [1]:
x_sum = 0

for x in range(1,257):
    x_sum += x

print(x_sum)

32896

In [2]:
# Shorter version:
x_sum1 = sum([x for x in range(1,257)])
print(x_sum1)

32896

In [73]:
#A Display sum of even numbers from 1 to 256.
x_sum = 0

for x in range(1,256):
    if x%2 == 0:
        x_sum += x

print(x_sum)

# Shorter version:
x_sum1 = sum([x for x in range(1,256) if x%2 == 0])
print(x_sum1)

16256
16256

5.2 The `ratings` dictionary contains the ratings of several kids. The keys are the children's names, and the values are their grades. Complete the dictionary `distribution` with scores as keys and lists as values.

In [9]:
grades = {
    'Albert': 4.5,
    'Beata': 5,
    'Cecylia': 4,
    'Dariusz': 4,
    'Eliza': 3,
    'Feliks': 5,
    'Grzegorz': 4.5,
    'Izabela': 4.5
    }

distribution = {
    5: [],
    4.5: [],
    4: [],
    3: []
    }

In [6]:
for child, grade in grades.items():
    distribution[grade].append(child)
print(distribution)

{5: ['Beata', 'Feliks'], 4.5: ['Albert', 'Grzegorz', 'Izabela'], 4: ['Cecylia', 'Dariusz'], 3: ['Eliza']}

In [10]:
for child1, grade1 in grades.items():
    for grade2, child2 in distribution.items():
        if grade1 == grade2:
            distribution[grade2].append(child1)
print(distribution)

{5: ['Beata', 'Feliks'], 4.5: ['Albert', 'Grzegorz', 'Izabela'], 4: ['Cecylia', 'Dariusz'], 3: ['Eliza']}

5.3 Below are 2 dictionaries with data on the number of city bike rides in Montreal in 2018, broken down by month.
The first dictionary contains information about trips made by subscription holders and the second by people who don't have a subscription. Data comes from https://montreal.bixi.com/en/open-data.

In [1]:
members = {'April': 211819, 'May': 682758, 'June': 737011, 'July': 779511, 'August': 673790,
           'September': 673790, 'October': 444177, 'November': 136791}

occasionals = {'April': 32058, 'May': 147898, 'June': 171494, 'July': 194316, 'August': 206809,
               'September': 140492, 'October': 53596, 'November': 10516}

months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
          'August', 'September', 'October', 'November', 'December']

In [2]:
#A Create a third dictionary `all_rides` where you count the total number of rides in each month.

all_rides = {}

# That one will work only if there are EXACTLY the same keys in `members` and `occasionals`.
for month, rides in members.items():
    all_rides[month] = rides + occasionals[month]
print(all_rides)


# That one will work no matter what keys are in both dictionaries (as long as they exist in `months` list): 
all_rides1 = {}

for month in months:
   
    if month in members.keys() and month in occasionals.keys():
        all_rides1[month] = members[month] + occasionals[month]
    
    if month in members.keys() and month not in occasionals.keys():
        all_rides1[month] = members[month]
    
    if month not in members.keys() and month in occasionals.keys():
        all_rides1[month] = occasionals[month]
    
    else:
        pass

print(all_rides1)

{'April': 243877, 'May': 830656, 'June': 908505, 'July': 973827, 'August': 880599, 'September': 814282, 'October': 497773, 'November': 147307}
{'April': 243877, 'May': 830656, 'June': 908505, 'July': 973827, 'August': 880599, 'September': 814282, 'October': 497773, 'November': 147307}

In [79]:
#B Using the `months` list, display how many trips were made in a given month. Assume there are 0 trips
# in months that are missing from `all_rides`.

#To display 0 for months with no rides, we need to create empty dictionary (0 rides in EACH month)
all_rides_full = {month:0 for month in months}

for month, rides in all_rides_full.items():
    
    if month in members.keys() and month in occasionals.keys():
        all_rides_full[month] += (members[month] + occasionals[month])
   
    if month in members.keys() and month not in occasionals.keys():
        all_rides_full[month] += members[month]
   
    if month not in members.keys() and month in occasionals.keys():
        all_rides_full[month] += occasionals[month]
    
    else:
        pass

print(all_rides_full)


# If we are certain, that there are exactly the same values in 'members' and 'occasionals':
all_rides_full = {month:0 for month in months}

for month, rides in all_rides_full.items():
    
    if month in members.keys():
        all_rides_full[month] += (members[month] + occasionals[month])

    else:
        pass

print(all_rides_full)

{'January': 0, 'February': 0, 'March': 0, 'April': 243877, 'May': 830656, 'June': 908505, 'July': 973827, 'August': 880599, 'September': 814282, 'October': 497773, 'November': 147307, 'December': 0}
{'January': 0, 'February': 0, 'March': 0, 'April': 243877, 'May': 830656, 'June': 908505, 'July': 973827, 'August': 880599, 'September': 814282, 'October': 497773, 'November': 147307, 'December': 0}

In [80]:
#C Calculate the percentage of occasional trips during the year.
sum_rides_members = 0
sum_rides_occasionals = 0

for month, rides in members.items():
    sum_rides_members += rides

for month, rides in occasionals.items():
    sum_rides_occasionals += rides

ratio = sum_rides_occasionals/(sum_rides_members+sum_rides_occasionals)

print(f'{round(ratio*100,2)} %.')

18.07 %.

In [81]:
#D Calculate the sum of recorded trips from April to November.
sum_rides_members = 0
sum_rides_occasionals = 0

for month, rides in members.items():
    if month in ('April', 'May', 'June', 'July', 'August', 'September', 'October', 'November'):
        sum_rides_members += rides

for month, rides in occasionals.items():
    if month in ('April', 'May', 'June', 'July', 'August', 'September', 'October', 'November'):
        sum_rides_occasionals += rides

print(sum_rides_members+sum_rides_occasionals)

5296826

In [85]:
#E Do both groups have the highest number of trips in the same month?
max_members = 0
max_occasionals = 0

for month, rides in members.items():
    if rides > max_members:
        max_members = rides
month_members = list(members.keys())[list(members.values()).index(max_members)]

for month, rides in occasionals.items():
    if rides > max_occasionals:
        max_occasionals = rides
month_occasionals = list(occasionals.keys())[list(occasionals.values()).index(max_occasionals)]

print(f'Month with highest number of rides (members): {month_members}.')
print(f'Month with highest number of rides (occasionals): {month_occasionals}.')

Month with highest number of rides (members): July.
Month with highest number of rides (occasionals): August.

5.4 The following dictionary contains data from a few selected countries on the number of trees per square kilometer.

In [90]:
tree_per_sqkm = {
    "Brazil": 39542,
    "Bulgaria": 24987,
    "Canada": 36388,
    "Denmark": 6129,
    "Finland": 90652,
    "France": 24436,
    "Greece": 24323,
    "India": 11109,
    "Japan": 49894,
    "Russia": 41396,
    "Saudi Arabia": 1,
    "Syria": 534,
    "United States": 23513,
    "Taiwan": 69593,
    "Turkey": 11126,
    }

In [93]:
#A Write on the screen the names of those countries for which the factor is greater than 20000.

for country, factor in tree_per_sqkm.items():
    if factor > 20000:
        print(country)

Brazil
Bulgaria
Canada
Finland
France
Greece
Japan
Russia
United States
Taiwan

In [94]:
#B Write on the screen the names of those countries for which the factor is greater than 10,000 but less than 20,000.

for country, factor in tree_per_sqkm.items():
    if factor in range(10000,20000):
        print(country)

India
Turkey

5.5 Create 2 new lists based on `l`: `even` with even numbers from l and `odd` with odd numbers.

In [83]:
l = [4, 5, 8, 9, 0, 3]
even = []
odd = []

In [84]:
for x in l:
    if x%2 == 0:
        even.append(x)
    else:
        odd.append(x)
print(even)
print(odd)

[4, 8, 0]
[5, 9, 3]

### <b>6.0 FUNCTIONS</b>

6.1 Write the code that will return the so-called "Big 'NO!'" (see http://tvtropes.org/pmwiki/pmwiki.php/Main/BigNo) for a given number, i.e. a string like "NOOOOOOOOOOOOO!", where the number 'O' is to be equal to the value of the variable `number_of_o`.
<br> If the argument is less than 5, "It's not a Big 'No!'" is to be returned.
<br> Display this caption on the screen.

In [139]:
def big_no(number_of_o):
    if type(number_of_o) != int:
        print('It\'s not a number.')
    else:
        if number_of_o <5:
            print('It\'s not a Big \'No!\'.')
        else:
            print('N'+number_of_o*'O'+'!')

In [140]:
big_no(a)

It's not a number.

In [141]:
big_no(4)

It's not a Big 'No!'.

In [142]:
big_no(100)

NOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO!

6.2  Divide variable `text` using split method: add to `oov` all words (w/o repetitions), which are not included in `vocab` list.

In [175]:
text = "this is a string , which i will use for string testing"
vocab = [',', 'this', 'is', 'a', 'which', 'for', 'will', 'i']

In [176]:
def div_func(text):
    oov = []
    text_list = text.split()
    
    for word in text_list:
        if word not in vocab:
            oov.append(word)
    return(oov)

In [177]:
div_func('this is a string , which i will use for string testing')

['string', 'use', 'string', 'testing']

6.3 Write a function that converts Fahrenheit to Celsius (or the other way around) using the formula:
<br>
F = 32 + 9/5*C

In [229]:
def fah_cel(temp,x):
    if x == 'C':
        temp_out = (temp - 32) * (5 / 9)
        print(f'{temp}°F = {round(temp_out,2)}°C.')
    if x == 'F':
        temp_out = 32 + (9 / 5 * temp)
        print(f'{temp}°C = {round(temp_out,2)}°F.')

In [230]:
fah_cel(30,'F')

30°C = 86.0°F.

In [231]:
fah_cel(30,'C')

30°F = -1.11°C.

6.4 The `Letters` dictionary below contains information about letters in Scrabble: how many tiles with a given letter are in the game and the point value of a given letter. 
<br>
Write a program that reads a word from the keyboard and then returns how many points the word is worth.

In [236]:
Letters = {
        'a': { 'quantity' : 9, 'value': 1},
        'b': { 'quantity' : 2, 'value': 3},
        'c': { 'quantity' : 2, 'value': 3},
        'd': { 'quantity' : 4, 'value': 2},
        'e': { 'quantity' : 12, 'value': 1},
        'f': { 'quantity' : 2, 'value': 4},
        'g': { 'quantity' : 3, 'value': 2},
        'h': { 'quantity' : 2, 'value': 4},
        'i': { 'quantity' : 9, 'value': 1},
        'j': { 'quantity' : 1, 'value': 8},
        'k': { 'quantity' : 1, 'value': 5},
        'l': { 'quantity' : 4, 'value': 1},
        'm': { 'quantity' : 2, 'value': 3},
        'n': { 'quantity' : 6, 'value': 1},
        'o': { 'quantity' : 8, 'value': 1},
        'p': { 'quantity' : 2, 'value': 3},
        'q': { 'quantity' : 1, 'value': 10},
        'r': { 'quantity' : 6, 'value': 1},
        's': { 'quantity' : 4, 'value': 1},
        't': { 'quantity' : 6, 'value': 1},
        'u': { 'quantity' : 4, 'value': 1},
        'v': { 'quantity' : 2, 'value': 4},
        'w': { 'quantity' : 2, 'value': 4},
        'x': { 'quantity' : 1, 'value': 8},
        'y': { 'quantity' : 2, 'value': 4},
        'z': { 'quantity' : 1, 'value': 10},
        '*': { 'quantity' : 2, 'value': 0}
        }

In [296]:
def scrabble(text):
        
    if type(text) != str:
        return("This is not a string.")
    
    text = text.lower()
    sum = 0
    
    for t in text:
        if t not in Letters.keys():
            return("This is not a correct word.")
        else:
            sum += Letters[t]['value']
   
    print(f'\'{text.upper()}\' is worth {sum} points.')

In [297]:
scrabble(1245)

'This is not a string.'

In [298]:
scrabble('Fahrenheit')

'FAHRENHEIT' is worth 19 points.

In [299]:
scrabble('Sk8terBoy')

'This is not a correct word.'

In [300]:
#B Calculate what is total value of all tiles in Scrabble?
tiles_sum = 0

for tile in Letters:
    tiles_sum += Letters[tile]['quantity'] * Letters[tile]['value']
print(tiles_sum)

187

7.2 Write a recursive function that returns the n value of the Fibonacci sequence.
<br>
<br>
Fibonacci sequence:
a[0] = 1, a[1] = 1, a[n] = a[n-1] + a[n-2] for n>=2

In [381]:
def fib(n):
    if n == 0:
        return(0)
    if n == 1:
        return(1)
    if n >= 2:
        return(fib(n-1)+fib(n-2))

In [383]:
fib(0),fib(1),fib(2)

(0, 1, 1)

In [384]:
fib(10)

55

In [338]:
#A Write a function that computes the n value of the Fibonacci sequence WITHOUT using recursion.

In [386]:
def fib2(n):
    fib_list = [0,1]
    
    if n == 0:
        return(0)
    if n == 1:
        return(1)
    if n >= 2:
        
        for x in range(2,n+1):
            fib_list.append(fib_list[x-1]+fib_list[x-2]) 
    
    return(fib_list[-1])

In [387]:
fib2(0),fib2(1),fib2(2)

(0, 1, 1)

In [388]:
fib2(10)

55

7.3 Write a sum_div35(n) function that returns the sum of all divisible numbers by 3 or 5 smaller than n.

In [389]:
def sum_div35(n):
    func_list = []
    
    for x in range(0,n):
        if x%3 == 0 or x%5 == 0:
            func_list.append(x)
    
    return(sum(func_list))

In [390]:
sum_div35(100)

2318

### 7.0 LIBRARIES

7.1 Import the statistics library, which contains functions to calculate basic statistical quantities (mean, median, mode):
<br> statistics.mean -- average calculation
<br> statistics.median -- calculation of the median
<br> statistics.variance -- calculation of variance
<br> statistics.stdev -- calculation of standard deviation
<br> Each of these functions takes one argument: a list of values.
<br><br> Calculate these quantities for values from the dictionary below.

In [314]:
members = {
    'April': 211819,
    'May': 682758,
    'June': 737011,
    'July': 779511,
    'August': 673790,
    'September': 673790,
    'October': 444177,
    'November': 136791,
    }

In [303]:
import statistics as stat

In [316]:
#A Mean:
stat.mean(members.values())

542455.875

In [317]:
#B Median:
stat.median(members.values())

673790.0

In [318]:
#C Variance:
stat.variance(members.values())

61681755885.83929

In [319]:
#D Standard deviation:
stat.stdev(members.values())

248358.12023334226

7.2 Import random and math libraries. Using the random function, pick two numbers and assign the results to the variables x and y.

In [395]:
import random as r
import math

x = r.random()
y = r.random()

print(x,y)

0.4114424687993584 0.6280654884167824

In [396]:
#A Using the hypot function calculate the distance of the point with coordinates (x,y).
math.hypot(x,y)

0.7508336452716557

In [434]:
#B Add a loop that will do this n = 10 times and count how many times the calculated distance is less than 1.
l = []

for n in range(0,10):
    
    x = r.random()
    y = r.random()
    
    if math.hypot(x,y) < 1:
        l.append(math.hypot(x,y))
    
print(len(l))

8

In [446]:
#C Calculate the ratio of the number of points for which the distance was less than 1 to the total number of points.
# Multiply this value by 4.

l = []
z = 10

for n in range(0,z):
    
    x = r.random()
    y = r.random()
    
    if math.hypot(x,y) < 1:
        l.append(math.hypot(x,y))
    
print((len(l)/z)*4)

3.2

In [391]:
#D Substitute for n the values 100, 1000, 1000000. To what value do the values converge?

In [448]:
l = []
z = 100

for n in range(0,z):
    
    x = r.random()
    y = r.random()
    
    if math.hypot(x,y) < 1:
        l.append(math.hypot(x,y))

print((len(l)/z)*4)

3.08

In [451]:
l = []
z = 1000

for n in range(0,z):
    
    x = r.random()
    y = r.random()
    
    if math.hypot(x,y) < 1:
        l.append(math.hypot(x,y))

print((len(l)/z)*4)

3.264

In [452]:
l = []
z = 1000000

for n in range(0,z):
    
    x = r.random()
    y = r.random()
    
    if math.hypot(x,y) < 1:
        l.append(math.hypot(x,y))

print((len(l)/z)*4)

3.13948