### 311 dataset

1. Load the dataset `311.csv` into the variable data.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('311.csv', low_memory=False)

2. Display the first 5 rows of data.

In [6]:
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432,90-03 169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
1,26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378,58 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"
2,26594139,10/31/2013 02:00:24 AM,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032,4060 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)"
3,26595721,10/31/2013 01:56:23 AM,10/31/2013 02:21:48 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023,WEST 72 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.778009,-73.980213,"(40.7780087446372, -73.98021349023975)"
4,26590930,10/31/2013 01:53:44 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Vacant Lot,10027,WEST 124 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.807691,-73.947387,"(40.80769092704951, -73.94738703491433)"

3. Display column names.

4. Display how many columns and rows the dataset contains.

5. Display what values the ``City`` column has. Count the values in the ``City`` column.

6. Display how many times the ``City`` column contains NaN.

7. Display data info

8. Display only the ``Borough`` and ``Agency`` columns and only the last 5 lines.

9. Only display data where the value in the ``Agency`` column is equal to NYPD. Count how many examples there are.

10. Display the minimum and maximum value from the ``Longitude`` column.

11. Add a 'sum' column by summing the ``Longitude`` and ``Latitude`` columns.

12. Count the values for the column ``Descriptor`` where ``Agency`` is equal to NYPD.

### gapminder dataset

1. Load the data into the `data2` variable, in such a way that the name of the country is the key.

2. Find the most and least populated countries in the world.

3. In how many countries is `female_BMI` higher than `male_BMI`?

4.
* Install the `pycountry_convert` library and import it.
* Add the `continent` column to the data, which will contain the name of the continent on which the given country is located. Use the `pycountry_convert` library. *Note*: You must first obtain the country code in ISO-2 format, then obtain the continent code, and finally obtain the name of the continent.

5. Calculate how many people live on each continent.

6. Draw a bar graph showing how many countries are on each continent.

7.
* The `gdp` column contains information about GDP per capita. Create a new column `gdp_total` that will inform you about the country's GDP.
* Calculate the total of world GDP (column `gdp_total`).
* Calculate how many countries are responsible for 80% of the world's GDP.

8. View all European countries with a life expectancy of 80 years or more.

9. Find the country that has the closest GDP to Poland. Try to solve this problem in one line.

10.
* Check if you have installed the `requests` library, which is used to perform HTTP requests. If not, install it.
* Run the `requests.get` function with the following link as argument: `https://aws.random.cat/meow`. Save the result to the response variable.
* Execute the `json()` method on the `response` variable which will return you a dictionary with the `file` key in it. Save the `file` value to the `url` variable.
* Import `Image` and `display` from `from IPython.core.display` library.
* Create an Image object by specifying the `url` variable in the constructor, and save the result to `image`.
* Execute the `display` function on the `image` object.