1. Załaduj bibliotekę `pandas`.

In [1]:
import pandas as pd

2. Wczytaj dane z pliku *dane_mieszkania.csv* do zmiennej i wyświetl 5 pierwszych wierczy.

In [2]:
dane = pd.read_csv('dane_mieszkania.csv', index_col = 0)
dane.head()

,Id,Expected,Rooms,SqrMeters,Floor,Location
0,1,269000,3,55.00,1,Poznań Zawady
1,2,320000,3,79.00,10,Poznań Rataje ul. Orła Bialego
2,3,146000,1,31.21,1,Poznań Nowe Miasto ul. Kawalerka W Nowym Bloku...
3,4,189000,2,44.00,2,Poznań Grunwald Ogrody Jeżyce Centrum Łazarz u...
4,5,480240,2,65.25,1,Poznań ul. Droga Dębińska 19

3. Znajdź informacje ilu pokojowe mieszkania są najpopularniejsze i ile ich jest.

In [3]:
dane.Rooms.value_counts().head(1)

2    2208
Name: Rooms, dtype: int64

4. Znajdź 10 najtańszych mieszkań.

In [15]:
dane.sort_values('Expected').head(10)

,Id,Expected,Rooms,SqrMeters,Floor,Location
971,972,1,5,99.76,1,Poznań Kameralne Osiedle Domów Energooszczędny...
4528,4529,4000,3,85.50,2,Poznań ul. Ułańska
1175,1176,68000,1,33.10,1,Poznań Naramowice ul. Naramowicka
4889,4890,79000,2,38.10,10,Poznań Nowe Miasto ul. Katowicka
470,471,85000,1,37.00,3,Poznań Nowe Miasto ul. Folwarczna
898,899,90000,1,24.26,4,Poznań Jeżyce ul. Szamarzewskiego
2055,2056,94000,2,54.00,2,Poznań Okolica Rybno Rybno ul. Kłecko
4723,4724,98000,2,50.00,1,Poznań Wilda ul. Robocza/Sikorskiego
3550,3551,98000,2,53.00,2,Poznań Koziegłowy ul. Os. Leśne
911,912,99000,2,40.50,3,Poznań Nowe Miasto ul. Katowicka

5. Napisz funkcje ``find_borough(desc)``, która przyjmuje 1 argument typu *string* i zwróci jedną z dzielnic zdefiniowaną w liście ``dzielnice``. Funkcja ma zwrócić pierwszą (wzgledem kolejności) nazwę dzielnicy, która jest zawarta w ``desc``. Jeżeli żadna nazwa nie została odnaleziona, zwróć napis *Inne*.

In [5]:
def find_borough(desc):
    dzielnice = ['Stare Miasto',
                 'Wilda',
                 'Jeżyce',
                 'Rataje',
                 'Piątkowo',
                 'Winogrady',
                 'Miłostowo',
                 'Dębiec']
    for item in dzielnice:
        if item in desc:
            return(item)
            break
    return('Inne')

6. Dodaj kolumnę ``Borough``, która będzie zawierać informacje o dzielnicach i powstanie z kolumny ``Localization``. Wykorzystaj do tego funkcję ``find_borough``.

In [7]:
dane2 = dane.Location.map(find_borough)

In [10]:
dane2.value_counts()

Inne            2267
Winogrady        533
Piątkowo         479
Rataje           443
Wilda            417
Stare Miasto     410
Jeżyce           395
Dębiec            56
Name: Location, dtype: int64

In [11]:
dane['Borough'] = dane2
dane.sample(7)

,Id,Expected,Rooms,SqrMeters,Floor,Location,Borough
396,397,325000,2,50.00,2,Poznań Jeżyce ul. Nowy Świat Ogrody Jeżyce,Jeżyce
2551,2552,278615,2,54.10,2,Poznań ul. Głogowska,Inne
2455,2456,307000,3,64.90,3,Poznań Piątkowo,Piątkowo
2748,2749,218599,2,47.05,2,Poznań Grunwald,Inne
4655,4656,273168,2,43.36,7,Poznań Piątkowo ul. Kurpińskiego,Piątkowo
3639,3640,221477,2,38.12,3,Poznań Nowe Miasto ul. Smolna 13 D,Inne
1822,1823,385000,3,77.52,1,Poznań Naramowice ul. Błażeja,Inne

7. Oblicz średnią cenę za metr kwadaratowy dla całego zbioru danych oraz z podziałem na poszczególne dzielnice.

In [18]:
# Dla całego zbioru danych:
round(dane.Expected.sum()/dane.SqrMeters.sum(),2)

6060.09

In [26]:
# Z podziałem na dzielnice
cena_dzielnica = dane.groupby(['Borough'])['Expected'].sum()
metraz_dzielnica = dane.groupby(['Borough'])['SqrMeters'].sum()

# Wynik:
round(cena_dzielnica/metraz_dzielnica,2).sort_values(ascending = False)

Borough
Winogrady       9622.27
Stare Miasto    7440.22
Piątkowo        5689.68
Inne            5598.26
Rataje          5380.32
Jeżyce          5360.16
Wilda           5261.15
Dębiec          4746.42
dtype: float64

8. Znajdź średnią cenę mieszkania n-pokojowego.

In [36]:
round(dane.groupby(['Rooms'])['Expected'].mean(),2)

Rooms
1      251577.85
2      303861.86
3      383533.64
4      456560.24
5      613355.19
6     1069136.69
7      520000.00
10     320000.00
Name: Expected, dtype: float64

9. Znajdź dzielnice, które zawierają oferty mieszkań na 13 piętrze.

In [43]:
query = dane['Floor'] == 13
dane[query].Borough

2195       Winogrady
2773    Stare Miasto
Name: Borough, dtype: object

10. Znajdź wszystkie ogłoszenia mieszkań, które znajdują się na Winogradach, mają 3 pokoje i są położone na 1 piętrze.

In [45]:
dzielnica = dane['Borough'] == 'Winogrady'
pokoje = dane['Rooms'] == 3
pietro = dane['Floor'] == 1

query = dzielnica & pokoje & pietro

dane[query]

,Id,Expected,Rooms,SqrMeters,Floor,Location,Borough
105,106,275000,3,53.00,1,Poznań Winogrady ul. Oś. Zwycięstwa 26,Winogrady
175,176,326073,3,53.02,1,Poznań Winogrady ul. Hawelańska,Winogrady
521,522,359000,3,68.00,1,Poznań Winogrady,Winogrady
618,619,300685,3,49.70,1,Poznań Winogrady ul. Hawelańska,Winogrady
774,775,408456,3,65.88,1,Poznań Winogrady ul. Hawelańska,Winogrady
796,797,279000,3,48.00,1,Poznań Winogrady ul. Winogrady,Winogrady
845,846,280000,3,48.00,1,Poznań Winogrady ul. Os. Przyjaźni,Winogrady
863,864,342000,3,84.00,1,Poznań Winogrady ul. Powstańców Warszawy,Winogrady
869,870,314782,3,52.03,1,Poznań Winogrady ul. Hawelańska,Winogrady
940,941,312967,3,51.73,1,Poznań Winogrady ul. Hawelańska,Winogrady
968,969,285000,3,53.00,1,Poznań Winogrady ul. Osiedle Zwycięstwa,Winogrady
1106,1107,288446,3,48.35,1,Poznań Winogrady ul. Hawelańska,Winogrady
1133,1134,279000,3,47.60,1,Poznań Winogrady ul. Os. Przyjaźni,Winogrady
1373,1374,299000,3,57.17,1,Poznań Winogrady ul. Hawelańska,Winogrady
1391,1392,320771,3,53.02,1,Poznań Winogrady ul. Hawelańska,Winogrady
1410,1411,310401,3,52.03,1,Poznań Winogrady ul. Hawelańska,Winogrady
1476,1477,399000,3,80.00,1,Poznań Piatkowo Winogrady Naramowice Sołacz Wi...,Winogrady
1485,1486,265000,3,52.80,1,Poznań Winogrady ul. Wichrowe Wzgóze,Winogrady
1519,1520,408456,3,65.88,1,Poznań Winogrady ul. Lechicka Okolice,Winogrady
1706,1707,329271,3,53.54,1,Poznań Winogrady ul. Hawelańska,Winogrady
1903,1904,328636,3,54.32,1,Poznań Winogrady ul. Hawelańska,Winogrady
2045,2046,275397,3,44.78,1,Poznań Winogrady ul. Hawelańska,Winogrady
2069,2070,308066,3,50.92,1,Poznań Winogrady ul. Hawelańska,Winogrady
2273,2274,480000,3,62.77,1,Poznań Winogrady ul. Naramowicka,Winogrady
2303,2304,380932,3,64.13,1,Poznań Winogrady ul. Hawelańska,Winogrady
2324,2325,303779,3,50.92,1,Poznań Winogrady ul. Hawelańska,Winogrady
2355,2356,331816,3,56.24,1,Poznań Winogrady ul. Hawelańska,Winogrady
2416,2417,310673,3,50.93,1,Poznań Winogrady ul. Lechicka Okolice,Winogrady
2659,2660,329000,3,75.00,1,Poznań Winogrady ul. Idealne 3 Pok. Na Biuro,Winogrady
2740,2741,288446,3,48.35,1,Poznań Winogrady,Winogrady
2833,2834,320000,3,53.00,1,Poznań Winogrady ul. Os. Zwycięstwa,Winogrady
2835,2836,326761,3,54.01,1,Poznań Winogrady ul. Hawelańska,Winogrady
3154,3155,350000,3,76.80,1,Poznań Winogrady ul. Wilczak,Winogrady
3365,3366,334928,3,55.36,1,Poznań Winogrady ul. Hawelańska,Winogrady
3379,3380,292518,3,48.35,1,Poznań Winogrady ul. Hawelańska,Winogrady
3406,3407,319000,3,64.90,1,Poznań Winogrady ul. Os. Wichrowe Wzgórze,Winogrady
3500,3501,320000,3,53.00,1,Poznań Winogrady,Winogrady
3599,3600,339000,3,58.00,1,Poznań Winogrady ul. Strzeszynska Winogrady Po...,Winogrady
3750,3751,213000,3,59.30,1,Poznań Winogrady ul. Hawelańska,Winogrady
4034,4035,419000,3,78.00,1,Poznań Sołacz Bonin Winiary Winogrady Piątko u...,Winogrady
4133,4134,359000,3,59.00,1,Poznań Winogrady ul. Piątkowska Ataner,Winogrady
4244,4245,323917,3,53.54,1,Poznań Winogrady ul. Hawelańska,Winogrady
4291,4292,312442,3,51.22,1,Poznań Winogrady ul. Lechicka Okolice,Winogrady
4314,4315,295068,3,49.46,1,Poznań Winogrady ul. Hawelańska,Winogrady
4430,4431,285000,3,53.00,1,Poznań Winogrady,Winogrady
4493,4494,308611,3,51.73,1,Poznań Winogrady ul. Hawelańska,Winogrady
4536,4537,285000,3,48.00,1,Poznań Winogrady,Winogrady
4569,4570,344101,3,56.41,1,Poznań Winogrady ul. Hawelańska,Winogrady
4678,4679,329000,3,75.20,1,Poznań Winogrady ul. Wilczak Dopłata W Mdm,Winogrady
4716,4717,358765,3,59.30,1,Poznań Winogrady ul. Hawelańska,Winogrady
4969,4970,296560,3,49.71,1,Poznań Winogrady ul. Hawelańska,Winogrady