1. Load `pandas` library.

In [2]:
import pandas as pd

2. Load data from *dane_mieszkania.csv* and display 5 first rows.

In [16]:
data = pd.read_csv('dane_mieszkania.csv', index_col = 0)
data.head()

,Id,Expected,Rooms,SqrMeters,Floor,Location
0,1,269000,3,55.00,1,Poznań Zawady
1,2,320000,3,79.00,10,Poznań Rataje ul. Orła Bialego
2,3,146000,1,31.21,1,Poznań Nowe Miasto ul. Kawalerka W Nowym Bloku...
3,4,189000,2,44.00,2,Poznań Grunwald Ogrody Jeżyce Centrum Łazarz u...
4,5,480240,2,65.25,1,Poznań ul. Droga Dębińska 19

3. Which are the most popular apartments in terms of number of rooms? How many are there?

In [20]:
print('No of rooms | count')
print(data.Rooms.value_counts().head(1))

No of rooms | count
2    2208
Name: Rooms, dtype: int64

4. Find 10 cheapest apartments.

In [21]:
data.sort_values('Expected').head(10)

,Id,Expected,Rooms,SqrMeters,Floor,Location
971,972,1,5,99.76,1,Poznań Kameralne Osiedle Domów Energooszczędny...
4528,4529,4000,3,85.50,2,Poznań ul. Ułańska
1175,1176,68000,1,33.10,1,Poznań Naramowice ul. Naramowicka
4889,4890,79000,2,38.10,10,Poznań Nowe Miasto ul. Katowicka
470,471,85000,1,37.00,3,Poznań Nowe Miasto ul. Folwarczna
898,899,90000,1,24.26,4,Poznań Jeżyce ul. Szamarzewskiego
2055,2056,94000,2,54.00,2,Poznań Okolica Rybno Rybno ul. Kłecko
4723,4724,98000,2,50.00,1,Poznań Wilda ul. Robocza/Sikorskiego
3550,3551,98000,2,53.00,2,Poznań Koziegłowy ul. Os. Leśne
911,912,99000,2,40.50,3,Poznań Nowe Miasto ul. Katowicka

5. Write function ``find_borough(desc)``, which takes 1 *string* argument and returns one of the districts definied in the list ``dzielnice``. Function should return 1st name of the district found in ``desc``. If there is no match, function should return string ``Other``.

In [22]:
def find_borough(desc):
    dzielnice = ['Stare Miasto',
                 'Wilda',
                 'Jeżyce',
                 'Rataje',
                 'Piątkowo',
                 'Winogrady',
                 'Miłostowo',
                 'Dębiec']
    for item in dzielnice:
        if item in desc:
            return(item)
            break
    return('Other')

6. Add column ``Borough`` to the dataset, which will contain information about district (based on information in the ``Location`` column). Use function ``find_borough``.

In [24]:
# Check if function works:
data2 = data.Location.map(find_borough)
data2

0          Other
1         Rataje
2          Other
3         Jeżyce
4          Other
          ...
4995       Other
4996    Piątkowo
4997       Other
4998       Other
4999       Wilda
Name: Location, Length: 5000, dtype: object

In [26]:
# Add data2 as new column to existing dataset:
data['Borough'] = data2

# Display sample of amended dataset:
data.sample(7)

,Id,Expected,Rooms,SqrMeters,Floor,Location,Borough
4273,4274,379000,2,66.86,3,Poznań Nowe Miasto ul. Ul. Milczańska 1,Other
236,237,315000,3,79.00,8,Poznań Rataje ul. Os. Orła Białego,Rataje
3100,3101,180000,1,35.00,2,Poznań Poznań-Jeżyce ul. Piotra Wawrzyniaka,Jeżyce
658,659,276000,2,41.11,4,Poznań Wilda Dębiec Centrum ul. Przemysłowa,Wilda
248,249,236600,1,36.00,2,Poznań Jeżyce,Jeżyce
3065,3066,300000,4,84.00,1,Poznań Nowe Miasto ul. Gabszewicza,Other
3667,3668,265000,3,52.30,3,Poznań Rataje ul. Lecha,Rataje

7. Calculate the average price per square meter for the entire dataset and by district.

In [29]:
# For whole dataset:
round(data.Expected.sum() / data.SqrMeters.sum(),2)

6060.09

In [40]:
# Divided by district:
price = data.groupby('Borough')['Expected'].sum()
meters = data.groupby('Borough')['SqrMeters'].sum()

# Result, sorted from most expensive district:
round(price / meters,2).sort_values(ascending = False)

Borough
Winogrady       9622.27
Stare Miasto    7440.22
Piątkowo        5689.68
Other           5598.26
Rataje          5380.32
Jeżyce          5360.16
Wilda           5261.15
Dębiec          4746.42
dtype: float64

8. Find mean price n-room apartment.

In [42]:
round(data.groupby('Rooms')['Expected'].mean(),2)

Rooms
1      251577.85
2      303861.86
3      383533.64
4      456560.24
5      613355.19
6     1069136.69
7      520000.00
10     320000.00
Name: Expected, dtype: float64

9. Find districts that contain listings for apartments on the 13th floor.

In [46]:
query = data['Floor'] == 13

data[query].Borough

2195       Winogrady
2773    Stare Miasto
Name: Borough, dtype: object

10. Find all apartments that are located in Winogrady, have 3 rooms and are located on the 1st floor.

In [48]:
loc = data['Borough'] == 'Winogrady'
room = data['Rooms'] == 3
floor = data['Floor'] = 1

query2 = loc & room & floor
data[query2]

,Id,Expected,Rooms,SqrMeters,Floor,Location,Borough
26,27,295068,3,49.46,1,Poznań Winogrady ul. Hawelańska,Winogrady
91,92,549000,3,81.00,1,Poznań Winogrady ul. Żniwna,Winogrady
105,106,275000,3,53.00,1,Poznań Winogrady ul. Oś. Zwycięstwa 26,Winogrady
137,138,340000,3,65.00,1,Poznań Winogrady ul. Os. Kosmonautów,Winogrady
175,176,326073,3,53.02,1,Poznań Winogrady ul. Hawelańska,Winogrady
...,...,...,...,...,...,...,...
4941,4942,364695,3,59.30,1,Poznań Winogrady ul. Hawelańska,Winogrady
4953,4954,299000,3,65.00,1,Poznań Winogrady ul. Os. Kosmonautów,Winogrady
4963,4964,355383,3,56.41,1,Poznań Winogrady ul. Hawelańska,Winogrady
4969,4970,296560,3,49.71,1,Poznań Winogrady ul. Hawelańska,Winogrady
4985,4986,286831,3,47.41,1,Poznań Winogrady ul. Hawelańska,Winogrady