1. Zaimportuj bibliotkę pandas jako pd.

In [1]:
import pandas as pd

2. Wczytaj zbiór danych `311.csv` do zniennej data.

In [7]:
pwd

'C:\\Users\\User\\OneDrive\\Edu\\Python\\UAM_python\\pandas'

In [65]:
data = pd.read_csv('311.csv', low_memory=False)
# data = pd.read_csv(r'C:\Users\User\OneDrive\Edu\Python\UAM_python\pandas\311.csv')
print(data)

        Unique Key            Created Date             Closed Date Agency  \
0         26589651  10/31/2013 02:08:41 AM                     NaN   NYPD
1         26593698  10/31/2013 02:01:04 AM                     NaN   NYPD
2         26594139  10/31/2013 02:00:24 AM  10/31/2013 02:40:32 AM   NYPD
3         26595721  10/31/2013 01:56:23 AM  10/31/2013 02:21:48 AM   NYPD
4         26590930  10/31/2013 01:53:44 AM                     NaN  DOHMH
...            ...                     ...                     ...    ...
111064    26426013  10/04/2013 12:01:13 AM  10/07/2013 04:07:16 PM    DPR
111065    26428083  10/04/2013 12:01:05 AM  10/04/2013 02:13:50 AM   NYPD
111066    26428987  10/04/2013 12:00:45 AM  10/04/2013 01:25:01 AM   NYPD
111067    26426115  10/04/2013 12:00:28 AM  10/04/2013 04:17:32 AM   NYPD
111068    26428033  10/04/2013 12:00:10 AM  10/04/2013 01:20:52 AM   NYPD

                                    Agency Name           Complaint Type  \
0               New York City Police Department  Noise - Street/Sidewalk
1               New York City Police Department          Illegal Parking
2               New York City Police Department       Noise - Commercial
3               New York City Police Department          Noise - Vehicle
4       Department of Health and Mental Hygiene                   Rodent
...                                         ...                      ...
111064       Department of Parks and Recreation  Maintenance or Facility
111065          New York City Police Department          Illegal Parking
111066          New York City Police Department  Noise - Street/Sidewalk
111067          New York City Police Department       Noise - Commercial
111068          New York City Police Department         Blocked Driveway

                           Descriptor        Location Type Incident Zip  \
0                        Loud Talking      Street/Sidewalk        11432
1        Commercial Overnight Parking      Street/Sidewalk        11378
2                    Loud Music/Party  Club/Bar/Restaurant        10032
3                      Car/Truck Horn      Street/Sidewalk        10023
4        Condition Attracting Rodents           Vacant Lot        10027
...                               ...                  ...          ...
111064           Structure - Outdoors                 Park        11213
111065  Posted Parking Sign Violation      Street/Sidewalk        11434
111066                   Loud Talking      Street/Sidewalk        10016
111067                   Loud Talking  Club/Bar/Restaurant        11226
111068                 Partial Access      Street/Sidewalk        11236

            Incident Address  ... Bridge Highway Name  \
0           90-03 169 STREET  ...                 NaN
1                  58 AVENUE  ...                 NaN
2              4060 BROADWAY  ...                 NaN
3             WEST 72 STREET  ...                 NaN
4            WEST 124 STREET  ...                 NaN
...                      ...  ...                 ...
111064                   NaN  ...                 NaN
111065                   NaN  ...                 NaN
111066    344 EAST 28 STREET  ...                 NaN
111067  1233 FLATBUSH AVENUE  ...                 NaN
111068   1259 EAST 94 STREET  ...                 NaN

       Bridge Highway Direction Road Ramp Bridge Highway Segment  \
0                           NaN       NaN                    NaN
1                           NaN       NaN                    NaN
2                           NaN       NaN                    NaN
3                           NaN       NaN                    NaN
4                           NaN       NaN                    NaN
...                         ...       ...                    ...
111064                      NaN       NaN                    NaN
111065                      NaN       NaN                    NaN
111066                      NaN       NaN                    NaN
111067                      NaN       NaN                    NaN
111068                      NaN       NaN                    NaN

       Garage Lot Name Ferry Direction Ferry Terminal Name   Latitude  \
0                  NaN             NaN                 NaN  40.708275
1                  NaN             NaN                 NaN  40.721041
2                  NaN             NaN                 NaN  40.843330
3                  NaN             NaN                 NaN  40.778009
4                  NaN             NaN                 NaN  40.807691
...                ...             ...                 ...        ...
111064             NaN             NaN                 NaN        NaN
111065             NaN             NaN                 NaN  40.656160
111066             NaN             NaN                 NaN  40.740295
111067             NaN             NaN                 NaN  40.640182
111068             NaN             NaN                 NaN  40.640024

        Longitude                                  Location
0      -73.791604   (40.70827532593202, -73.79160395779721)
1      -73.909453  (40.721040535628305, -73.90945306791765)
2      -73.939144   (40.84332975466513, -73.93914371913482)
3      -73.980213    (40.7780087446372, -73.98021349023975)
4      -73.947387   (40.80769092704951, -73.94738703491433)
...           ...                                       ...
111064        NaN                                       NaN
111065 -73.767353  (40.656160351546845, -73.76735262738222)
111066 -73.976952  (40.740295354643706, -73.97695165980414)
111067 -73.955306   (40.64018174662485, -73.95530566958138)
111068 -73.900717  (40.640024057399216, -73.90071711703163)

[111069 rows x 52 columns]

3. Wyświetl 5 pierwszych wierszy z data.

In [66]:
data = pd.read_csv('311.csv', low_memory=False, nrows = 5)
data

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432,90-03 169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
1,26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378,58 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"
2,26594139,10/31/2013 02:00:24 AM,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032,4060 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)"
3,26595721,10/31/2013 01:56:23 AM,10/31/2013 02:21:48 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023,WEST 72 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.778009,-73.980213,"(40.7780087446372, -73.98021349023975)"
4,26590930,10/31/2013 01:53:44 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Vacant Lot,10027,WEST 124 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.807691,-73.947387,"(40.80769092704951, -73.94738703491433)"

In [67]:
data = pd.read_csv('311.csv', low_memory=False)
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432,90-03 169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
1,26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378,58 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"
2,26594139,10/31/2013 02:00:24 AM,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032,4060 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)"
3,26595721,10/31/2013 01:56:23 AM,10/31/2013 02:21:48 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023,WEST 72 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.778009,-73.980213,"(40.7780087446372, -73.98021349023975)"
4,26590930,10/31/2013 01:53:44 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Vacant Lot,10027,WEST 124 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.807691,-73.947387,"(40.80769092704951, -73.94738703491433)"

4. Wyświetl nazwy kolumn.

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111069 entries, 0 to 111068
Data columns (total 52 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unique Key                      111069 non-null  int64
 1   Created Date                    111069 non-null  object
 2   Closed Date                     60270 non-null   object
 3   Agency                          111069 non-null  object
 4   Agency Name                     111069 non-null  object
 5   Complaint Type                  111069 non-null  object
 6   Descriptor                      110613 non-null  object
 7   Location Type                   79022 non-null   object
 8   Incident Zip                    98807 non-null   object
 9   Incident Address                84441 non-null   object
 10  Street Name                     84432 non-null   object
 11  Cross Street 1                  84728 non-null   object
 12  Cross Street 2                  84005 non-null   object
 13  Intersection Street 1           19364 non-null   object
 14  Intersection Street 2           19366 non-null   object
 15  Address Type                    102247 non-null  object
 16  City                            98854 non-null   object
 17  Landmark                        95 non-null      object
 18  Facility Type                   19104 non-null   object
 19  Status                          111069 non-null  object
 20  Due Date                        39239 non-null   object
 21  Resolution Action Updated Date  96507 non-null   object
 22  Community Board                 111069 non-null  object
 23  Borough                         111069 non-null  object
 24  X Coordinate (State Plane)      98143 non-null   float64
 25  Y Coordinate (State Plane)      98143 non-null   float64
 26  Park Facility Name              111069 non-null  object
 27  Park Borough                    111069 non-null  object
 28  School Name                     111069 non-null  object
 29  School Number                   111048 non-null  object
 30  School Region                   110524 non-null  object
 31  School Code                     110524 non-null  object
 32  School Phone Number             111069 non-null  object
 33  School Address                  111069 non-null  object
 34  School City                     111069 non-null  object
 35  School State                    111069 non-null  object
 36  School Zip                      111069 non-null  object
 37  School Not Found                38984 non-null   object
 38  School or Citywide Complaint    0 non-null       float64
 39  Vehicle Type                    99 non-null      object
 40  Taxi Company Borough            117 non-null     object
 41  Taxi Pick Up Location           1059 non-null    object
 42  Bridge Highway Name             185 non-null     object
 43  Bridge Highway Direction        185 non-null     object
 44  Road Ramp                       180 non-null     object
 45  Bridge Highway Segment          219 non-null     object
 46  Garage Lot Name                 49 non-null      object
 47  Ferry Direction                 24 non-null      object
 48  Ferry Terminal Name             70 non-null      object
 49  Latitude                        98143 non-null   float64
 50  Longitude                       98143 non-null   float64
 51  Location                        98143 non-null   object
dtypes: float64(5), int64(1), object(46)
memory usage: 44.1+ MB

In [69]:
data.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Action Updated Date', 'Community Board', 'Borough',
       'X Coordinate (State Plane)', 'Y Coordinate (State Plane)',
       'Park Facility Name', 'Park Borough', 'School Name', 'School Number',
       'School Region', 'School Code', 'School Phone Number', 'School Address',
       'School City', 'School State', 'School Zip', 'School Not Found',
       'School or Citywide Complaint', 'Vehicle Type', 'Taxi Company Borough',
       'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Garage Lot Name', 'Ferry Direction', 'Ferry Terminal Name', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

5. Wyświetl ile nasz zbiór danych ma kolumn i wierszy.

In [70]:
data.shape

(111069, 52)

6. Wyświetl kolumnę 'City' z powyższego zbioru danych.

In [71]:
data.City

0          JAMAICA
1          MASPETH
2         NEW YORK
3         NEW YORK
4         NEW YORK
            ...
111064    BROOKLYN
111065     JAMAICA
111066    NEW YORK
111067    BROOKLYN
111068    BROOKLYN
Name: City, Length: 111069, dtype: object

7. Wyświetl jakie wartoścu przyjmuje kolumna 'City'.

In [72]:
print(data.City.unique())

['JAMAICA' 'MASPETH' 'NEW YORK' 'JACKSON HEIGHTS' 'SOUTH RICHMOND HILL'
 'OZONE PARK' 'BROOKLYN' 'BRONX' 'STATEN ISLAND' nan 'MIDDLE VILLAGE'
 'LONG ISLAND CITY' 'Rego Park' 'WOODHAVEN' 'RICHMOND HILL'
 'EAST ELMHURST' 'SAINT ALBANS' 'SOUTH OZONE PARK' 'FRESH MEADOWS'
 'Jamaica' 'NEW HYDE PARK' 'ASTORIA' 'HOWARD BEACH' 'ELMHURST'
 'FAR ROCKAWAY' 'COLLEGE POINT' 'Elmhurst' 'FLUSHING' 'REGO PARK'
 'East Elmhurst' 'Hollis' 'Springfield Gardens' 'Forest Hills' 'BAYSIDE'
 'Ridgewood' 'SPRINGFIELD GARDENS' 'WOODSIDE' 'South Ozone Park'
 'RIDGEWOOD' 'OAKLAND GARDENS' 'Maspeth' 'CORONA' 'ROCKAWAY PARK'
 'Kew Gardens' 'Astoria' 'Saint Albans' 'Sunnyside' 'Flushing'
 'Oakland Gardens' 'Jackson Heights' 'Ozone Park' 'Rosedale'
 'Howard Beach' 'Woodside' 'Far Rockaway' 'Woodhaven' 'Queens Village'
 'South Richmond Hill' 'Fresh Meadows' 'LITTLE NECK' 'FOREST HILLS'
 'Corona' 'Richmond Hill' 'KEW GARDENS' 'Cambria Heights'
 'Long Island City' 'ROSEDALE' 'Whitestone' 'WHITESTONE' 'New Hyde Park'
 'Bayside' 'HOLLIS' 'BELLEROSE' 'Glen Oaks' 'Middle Village'
 'QUEENS VILLAGE' 'CAMBRIA HEIGHTS' 'Rockaway Park' 'Floral Park'
 'Little Neck' 'QUEENS' 'College Point' 'SUNNYSIDE' 'Breezy Point'
 'Arverne' 'FLORAL PARK' 'Bellerose' 'RYEBROOK' 'CENTRAL PARK' 'GLEN OAKS'
 'LAWRENCE' 'HOUSTON' 'PORT JEFFERSON STATION' 'CLIFTON' 'ARVERNE'
 'NORWELL' 'BRIARWOOD' 'CHEEKTOWAGA' 'ST. PAUL' 'NEWARK' 'JERSEY CITY'
 'NORTH BERGEN' 'LOS ANGELES' 'MELVILLE' 'NORFOLK' 'HAUPPAUGE'
 'HASBROCK HEIGHTS' 'LYNBROOK' 'VALLEY STREAM' 'UNION CITY' 'LAKE SUCCESS'
 'WEST NEW YORK' 'MINEOLA' 'SAN DIEGO' 'ROSELYN' 'BELLEVILLE' 'WOODBURY'
 'BOHIEMA' 'CENTRAL ISLIP' 'HEMSTEAD' 'EAST ROCKAWAY' 'EDGEWATER'
 'BRIDGE  WATER' 'ROSLYN' 'NJ' 'ELMONT' 'LONG ISLAND' 'BLOOMIGTON'
 'GREENVILLE' 'BIRMINGHAM' 'FREEPORT' 'GARDEN CITY' 'FLORENCE'
 'COL.ANVURES' 'STAMFORD' 'ELIZABETH' 'NEW YORK CITY' 'BREEZY POINT'
 'SYRACUSE' 'NANUET' 'FARMINGDALE' 'NEW YOR' 'NEWARK AIRPORT']

8. Zlicz wartości w kolumnie `City`.

In [73]:
print(data.City.value_counts())

BROOKLYN          31662
NEW YORK          22664
BRONX             18438
STATEN ISLAND      4766
Jamaica            1521
                  ...
BELLEVILLE            1
WOODBURY              1
BOHIEMA               1
CENTRAL ISLIP         1
NEWARK AIRPORT        1
Name: City, Length: 142, dtype: int64

9. Wyświetl tylko pierwsze 4 wiersze z wcześniejszego polecenia.

In [28]:
print(data.City.value_counts().head(4))

BROOKLYN         31662
NEW YORK         22664
BRONX            18438
STATEN ISLAND     4766
Name: City, dtype: int64

10. Wyświetl, w ilu przypadkach kolumna City zawiera NaN.

In [35]:
nan = 0
for city in data.City.isnull():
    if city == True:
        nan += 1
nan

12215

In [83]:
data.City.isnull().sum()

12215

11. Wyświetl data.info()

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111069 entries, 0 to 111068
Data columns (total 52 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unique Key                      111069 non-null  int64
 1   Created Date                    111069 non-null  object
 2   Closed Date                     60270 non-null   object
 3   Agency                          111069 non-null  object
 4   Agency Name                     111069 non-null  object
 5   Complaint Type                  111069 non-null  object
 6   Descriptor                      110613 non-null  object
 7   Location Type                   79022 non-null   object
 8   Incident Zip                    98807 non-null   object
 9   Incident Address                84441 non-null   object
 10  Street Name                     84432 non-null   object
 11  Cross Street 1                  84728 non-null   object
 12  Cross Street 2                  84005 non-null   object
 13  Intersection Street 1           19364 non-null   object
 14  Intersection Street 2           19366 non-null   object
 15  Address Type                    102247 non-null  object
 16  City                            98854 non-null   object
 17  Landmark                        95 non-null      object
 18  Facility Type                   19104 non-null   object
 19  Status                          111069 non-null  object
 20  Due Date                        39239 non-null   object
 21  Resolution Action Updated Date  96507 non-null   object
 22  Community Board                 111069 non-null  object
 23  Borough                         111069 non-null  object
 24  X Coordinate (State Plane)      98143 non-null   float64
 25  Y Coordinate (State Plane)      98143 non-null   float64
 26  Park Facility Name              111069 non-null  object
 27  Park Borough                    111069 non-null  object
 28  School Name                     111069 non-null  object
 29  School Number                   111048 non-null  object
 30  School Region                   110524 non-null  object
 31  School Code                     110524 non-null  object
 32  School Phone Number             111069 non-null  object
 33  School Address                  111069 non-null  object
 34  School City                     111069 non-null  object
 35  School State                    111069 non-null  object
 36  School Zip                      111069 non-null  object
 37  School Not Found                38984 non-null   object
 38  School or Citywide Complaint    0 non-null       float64
 39  Vehicle Type                    99 non-null      object
 40  Taxi Company Borough            117 non-null     object
 41  Taxi Pick Up Location           1059 non-null    object
 42  Bridge Highway Name             185 non-null     object
 43  Bridge Highway Direction        185 non-null     object
 44  Road Ramp                       180 non-null     object
 45  Bridge Highway Segment          219 non-null     object
 46  Garage Lot Name                 49 non-null      object
 47  Ferry Direction                 24 non-null      object
 48  Ferry Terminal Name             70 non-null      object
 49  Latitude                        98143 non-null   float64
 50  Longitude                       98143 non-null   float64
 51  Location                        98143 non-null   object
dtypes: float64(5), int64(1), object(46)
memory usage: 44.1+ MB

12. Wyświetl tylko kolumny Borough i Agency i tylko 5 ostatnich linii.

In [57]:
data[['Borough','Agency']].tail()

          Borough Agency
111064   BROOKLYN    DPR
111065     QUEENS   NYPD
111066  MANHATTAN   NYPD
111067   BROOKLYN   NYPD
111068   BROOKLYN   NYPD

13. Wyświetl tylko te dane, dla których wartość z kolumny Agency jest równa
NYPD. Zlicz ile jest takich przykładów.

In [59]:
data[data['Agency'] == 'NYPD']

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432,90-03 169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
1,26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378,58 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"
2,26594139,10/31/2013 02:00:24 AM,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032,4060 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)"
3,26595721,10/31/2013 01:56:23 AM,10/31/2013 02:21:48 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023,WEST 72 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.778009,-73.980213,"(40.7780087446372, -73.98021349023975)"
5,26592370,10/31/2013 01:46:52 AM,NaN,NYPD,New York City Police Department,Noise - Commercial,Banging/Pounding,Club/Bar/Restaurant,11372,37 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.749989,-73.881988,"(40.7499893014072, -73.88198770727831)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111061,26426164,10/04/2013 12:03:00 AM,10/04/2013 02:14:57 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11106,30-09 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.762279,-73.926013,"(40.762278541098084, -73.92601303458156)"
111065,26428083,10/04/2013 12:01:05 AM,10/04/2013 02:13:50 AM,NYPD,New York City Police Department,Illegal Parking,Posted Parking Sign Violation,Street/Sidewalk,11434,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.656160,-73.767353,"(40.656160351546845, -73.76735262738222)"
111066,26428987,10/04/2013 12:00:45 AM,10/04/2013 01:25:01 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,10016,344 EAST 28 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.740295,-73.976952,"(40.740295354643706, -73.97695165980414)"
111067,26426115,10/04/2013 12:00:28 AM,10/04/2013 04:17:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Talking,Club/Bar/Restaurant,11226,1233 FLATBUSH AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.640182,-73.955306,"(40.64018174662485, -73.95530566958138)"
111068,26428033,10/04/2013 12:00:10 AM,10/04/2013 01:20:52 AM,NYPD,New York City Police Department,Blocked Driveway,Partial Access,Street/Sidewalk,11236,1259 EAST 94 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.640024,-73.900717,"(40.640024057399216, -73.90071711703163)"

14. Wyświetl wartość minimalną i maksymalną z kolumny Longitude.

In [74]:
data['Longitude'].max()

-73.70127761473603

In [75]:
data['Longitude'].min()

-74.25443731808713

15. Dodaj kolumne diff, która powstanie przez sumowanie kolumn Longitude i Latitude.

In [78]:
data['diff'] = data.Longitude - data.Latitude
data

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location,diff
0,26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432,90-03 169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)",-114.499879
1,26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378,58 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)",-114.630494
2,26594139,10/31/2013 02:00:24 AM,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032,4060 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)",-114.782473
3,26595721,10/31/2013 01:56:23 AM,10/31/2013 02:21:48 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023,WEST 72 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.778009,-73.980213,"(40.7780087446372, -73.98021349023975)",-114.758222
4,26590930,10/31/2013 01:53:44 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Vacant Lot,10027,WEST 124 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.807691,-73.947387,"(40.80769092704951, -73.94738703491433)",-114.755078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111064,26426013,10/04/2013 12:01:13 AM,10/07/2013 04:07:16 PM,DPR,Department of Parks and Recreation,Maintenance or Facility,Structure - Outdoors,Park,11213,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111065,26428083,10/04/2013 12:01:05 AM,10/04/2013 02:13:50 AM,NYPD,New York City Police Department,Illegal Parking,Posted Parking Sign Violation,Street/Sidewalk,11434,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40.656160,-73.767353,"(40.656160351546845, -73.76735262738222)",-114.423513
111066,26428987,10/04/2013 12:00:45 AM,10/04/2013 01:25:01 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,10016,344 EAST 28 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.740295,-73.976952,"(40.740295354643706, -73.97695165980414)",-114.717247
111067,26426115,10/04/2013 12:00:28 AM,10/04/2013 04:17:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Talking,Club/Bar/Restaurant,11226,1233 FLATBUSH AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,40.640182,-73.955306,"(40.64018174662485, -73.95530566958138)",-114.595487
111068,26428033,10/04/2013 12:00:10 AM,10/04/2013 01:20:52 AM,NYPD,New York City Police Department,Blocked Driveway,Partial Access,Street/Sidewalk,11236,1259 EAST 94 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.640024,-73.900717,"(40.640024057399216, -73.90071711703163)",-114.540741

16. Zlicz wartości dla kolumny 'Descriptor', dla której Agency jest
równe NYPD.

In [92]:
filter =data['Agency'] == 'NYPD' 
data[filter].Descriptor.shape[0]

15295