1. Zaimportuj bibliotkę pandas jako pd.

In [1]:
import pandas as pd

2. Wczytaj zbiór danych `311.csv` do zniennej data.

In [2]:
pwd

'C:\\Users\\User\\OneDrive\\Edu\\Python\\UAM_python\\pandas'

In [4]:
data = pd.read_csv('311.csv', low_memory=False)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432,90-03 169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
1,26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378,58 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"
2,26594139,10/31/2013 02:00:24 AM,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032,4060 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)"
3,26595721,10/31/2013 01:56:23 AM,10/31/2013 02:21:48 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023,WEST 72 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.778009,-73.980213,"(40.7780087446372, -73.98021349023975)"
4,26590930,10/31/2013 01:53:44 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Vacant Lot,10027,WEST 124 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.807691,-73.947387,"(40.80769092704951, -73.94738703491433)"

3. Wyświetl 5 pierwszych wierszy z data.

In [24]:
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432,90-03 169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
1,26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378,58 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"
2,26594139,10/31/2013 02:00:24 AM,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032,4060 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)"
3,26595721,10/31/2013 01:56:23 AM,10/31/2013 02:21:48 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023,WEST 72 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.778009,-73.980213,"(40.7780087446372, -73.98021349023975)"
4,26590930,10/31/2013 01:53:44 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Vacant Lot,10027,WEST 124 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.807691,-73.947387,"(40.80769092704951, -73.94738703491433)"

4. Wyświetl nazwy kolumn.

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111069 entries, 0 to 111068
Data columns (total 52 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unique Key                      111069 non-null  int64
 1   Created Date                    111069 non-null  object
 2   Closed Date                     60270 non-null   object
 3   Agency                          111069 non-null  object
 4   Agency Name                     111069 non-null  object
 5   Complaint Type                  111069 non-null  object
 6   Descriptor                      110613 non-null  object
 7   Location Type                   79022 non-null   object
 8   Incident Zip                    98807 non-null   object
 9   Incident Address                84441 non-null   object
 10  Street Name                     84432 non-null   object
 11  Cross Street 1                  84728 non-null   object
 12  Cross Street 2                  84005 non-null   object
 13  Intersection Street 1           19364 non-null   object
 14  Intersection Street 2           19366 non-null   object
 15  Address Type                    102247 non-null  object
 16  City                            98854 non-null   object
 17  Landmark                        95 non-null      object
 18  Facility Type                   19104 non-null   object
 19  Status                          111069 non-null  object
 20  Due Date                        39239 non-null   object
 21  Resolution Action Updated Date  96507 non-null   object
 22  Community Board                 111069 non-null  object
 23  Borough                         111069 non-null  object
 24  X Coordinate (State Plane)      98143 non-null   float64
 25  Y Coordinate (State Plane)      98143 non-null   float64
 26  Park Facility Name              111069 non-null  object
 27  Park Borough                    111069 non-null  object
 28  School Name                     111069 non-null  object
 29  School Number                   111048 non-null  object
 30  School Region                   110524 non-null  object
 31  School Code                     110524 non-null  object
 32  School Phone Number             111069 non-null  object
 33  School Address                  111069 non-null  object
 34  School City                     111069 non-null  object
 35  School State                    111069 non-null  object
 36  School Zip                      111069 non-null  object
 37  School Not Found                38984 non-null   object
 38  School or Citywide Complaint    0 non-null       float64
 39  Vehicle Type                    99 non-null      object
 40  Taxi Company Borough            117 non-null     object
 41  Taxi Pick Up Location           1059 non-null    object
 42  Bridge Highway Name             185 non-null     object
 43  Bridge Highway Direction        185 non-null     object
 44  Road Ramp                       180 non-null     object
 45  Bridge Highway Segment          219 non-null     object
 46  Garage Lot Name                 49 non-null      object
 47  Ferry Direction                 24 non-null      object
 48  Ferry Terminal Name             70 non-null      object
 49  Latitude                        98143 non-null   float64
 50  Longitude                       98143 non-null   float64
 51  Location                        98143 non-null   object
dtypes: float64(5), int64(1), object(46)
memory usage: 44.1+ MB

In [26]:
data.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Action Updated Date', 'Community Board', 'Borough',
       'X Coordinate (State Plane)', 'Y Coordinate (State Plane)',
       'Park Facility Name', 'Park Borough', 'School Name', 'School Number',
       'School Region', 'School Code', 'School Phone Number', 'School Address',
       'School City', 'School State', 'School Zip', 'School Not Found',
       'School or Citywide Complaint', 'Vehicle Type', 'Taxi Company Borough',
       'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Garage Lot Name', 'Ferry Direction', 'Ferry Terminal Name', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

5. Wyświetl ile nasz zbiór danych ma kolumn i wierszy.

In [27]:
data.shape

(111069, 52)

6. Wyświetl kolumnę 'City' z powyższego zbioru danych.

In [28]:
data.City

0          JAMAICA
1          MASPETH
2         NEW YORK
3         NEW YORK
4         NEW YORK
            ...
111064    BROOKLYN
111065     JAMAICA
111066    NEW YORK
111067    BROOKLYN
111068    BROOKLYN
Name: City, Length: 111069, dtype: object

In [29]:
data['City']

0          JAMAICA
1          MASPETH
2         NEW YORK
3         NEW YORK
4         NEW YORK
            ...
111064    BROOKLYN
111065     JAMAICA
111066    NEW YORK
111067    BROOKLYN
111068    BROOKLYN
Name: City, Length: 111069, dtype: object

7. Wyświetl jakie wartoścu przyjmuje kolumna 'City'.

In [30]:
print(data.City.unique())

['JAMAICA' 'MASPETH' 'NEW YORK' 'JACKSON HEIGHTS' 'SOUTH RICHMOND HILL'
 'OZONE PARK' 'BROOKLYN' 'BRONX' 'STATEN ISLAND' nan 'MIDDLE VILLAGE'
 'LONG ISLAND CITY' 'Rego Park' 'WOODHAVEN' 'RICHMOND HILL'
 'EAST ELMHURST' 'SAINT ALBANS' 'SOUTH OZONE PARK' 'FRESH MEADOWS'
 'Jamaica' 'NEW HYDE PARK' 'ASTORIA' 'HOWARD BEACH' 'ELMHURST'
 'FAR ROCKAWAY' 'COLLEGE POINT' 'Elmhurst' 'FLUSHING' 'REGO PARK'
 'East Elmhurst' 'Hollis' 'Springfield Gardens' 'Forest Hills' 'BAYSIDE'
 'Ridgewood' 'SPRINGFIELD GARDENS' 'WOODSIDE' 'South Ozone Park'
 'RIDGEWOOD' 'OAKLAND GARDENS' 'Maspeth' 'CORONA' 'ROCKAWAY PARK'
 'Kew Gardens' 'Astoria' 'Saint Albans' 'Sunnyside' 'Flushing'
 'Oakland Gardens' 'Jackson Heights' 'Ozone Park' 'Rosedale'
 'Howard Beach' 'Woodside' 'Far Rockaway' 'Woodhaven' 'Queens Village'
 'South Richmond Hill' 'Fresh Meadows' 'LITTLE NECK' 'FOREST HILLS'
 'Corona' 'Richmond Hill' 'KEW GARDENS' 'Cambria Heights'
 'Long Island City' 'ROSEDALE' 'Whitestone' 'WHITESTONE' 'New Hyde Park'
 'Bayside' 'HOLLIS' 'BELLEROSE' 'Glen Oaks' 'Middle Village'
 'QUEENS VILLAGE' 'CAMBRIA HEIGHTS' 'Rockaway Park' 'Floral Park'
 'Little Neck' 'QUEENS' 'College Point' 'SUNNYSIDE' 'Breezy Point'
 'Arverne' 'FLORAL PARK' 'Bellerose' 'RYEBROOK' 'CENTRAL PARK' 'GLEN OAKS'
 'LAWRENCE' 'HOUSTON' 'PORT JEFFERSON STATION' 'CLIFTON' 'ARVERNE'
 'NORWELL' 'BRIARWOOD' 'CHEEKTOWAGA' 'ST. PAUL' 'NEWARK' 'JERSEY CITY'
 'NORTH BERGEN' 'LOS ANGELES' 'MELVILLE' 'NORFOLK' 'HAUPPAUGE'
 'HASBROCK HEIGHTS' 'LYNBROOK' 'VALLEY STREAM' 'UNION CITY' 'LAKE SUCCESS'
 'WEST NEW YORK' 'MINEOLA' 'SAN DIEGO' 'ROSELYN' 'BELLEVILLE' 'WOODBURY'
 'BOHIEMA' 'CENTRAL ISLIP' 'HEMSTEAD' 'EAST ROCKAWAY' 'EDGEWATER'
 'BRIDGE  WATER' 'ROSLYN' 'NJ' 'ELMONT' 'LONG ISLAND' 'BLOOMIGTON'
 'GREENVILLE' 'BIRMINGHAM' 'FREEPORT' 'GARDEN CITY' 'FLORENCE'
 'COL.ANVURES' 'STAMFORD' 'ELIZABETH' 'NEW YORK CITY' 'BREEZY POINT'
 'SYRACUSE' 'NANUET' 'FARMINGDALE' 'NEW YOR' 'NEWARK AIRPORT']

8. Zlicz wartości w kolumnie `City`.

In [31]:
print(data.City.value_counts())

BROOKLYN          31662
NEW YORK          22664
BRONX             18438
STATEN ISLAND      4766
Jamaica            1521
                  ...
BELLEVILLE            1
WOODBURY              1
BOHIEMA               1
CENTRAL ISLIP         1
NEWARK AIRPORT        1
Name: City, Length: 142, dtype: int64

9. Wyświetl tylko pierwsze 4 wiersze z wcześniejszego polecenia.

In [32]:
print(data.City.value_counts().head(4))

BROOKLYN         31662
NEW YORK         22664
BRONX            18438
STATEN ISLAND     4766
Name: City, dtype: int64

10. Wyświetl, w ilu przypadkach kolumna City zawiera NaN.

In [38]:
data.City.isnull().value_counts()

False    98854
True     12215
Name: City, dtype: int64

In [39]:
data.City.isnull().sum()

12215

11. Wyświetl data.info()

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111069 entries, 0 to 111068
Data columns (total 52 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unique Key                      111069 non-null  int64
 1   Created Date                    111069 non-null  object
 2   Closed Date                     60270 non-null   object
 3   Agency                          111069 non-null  object
 4   Agency Name                     111069 non-null  object
 5   Complaint Type                  111069 non-null  object
 6   Descriptor                      110613 non-null  object
 7   Location Type                   79022 non-null   object
 8   Incident Zip                    98807 non-null   object
 9   Incident Address                84441 non-null   object
 10  Street Name                     84432 non-null   object
 11  Cross Street 1                  84728 non-null   object
 12  Cross Street 2                  84005 non-null   object
 13  Intersection Street 1           19364 non-null   object
 14  Intersection Street 2           19366 non-null   object
 15  Address Type                    102247 non-null  object
 16  City                            98854 non-null   object
 17  Landmark                        95 non-null      object
 18  Facility Type                   19104 non-null   object
 19  Status                          111069 non-null  object
 20  Due Date                        39239 non-null   object
 21  Resolution Action Updated Date  96507 non-null   object
 22  Community Board                 111069 non-null  object
 23  Borough                         111069 non-null  object
 24  X Coordinate (State Plane)      98143 non-null   float64
 25  Y Coordinate (State Plane)      98143 non-null   float64
 26  Park Facility Name              111069 non-null  object
 27  Park Borough                    111069 non-null  object
 28  School Name                     111069 non-null  object
 29  School Number                   111048 non-null  object
 30  School Region                   110524 non-null  object
 31  School Code                     110524 non-null  object
 32  School Phone Number             111069 non-null  object
 33  School Address                  111069 non-null  object
 34  School City                     111069 non-null  object
 35  School State                    111069 non-null  object
 36  School Zip                      111069 non-null  object
 37  School Not Found                38984 non-null   object
 38  School or Citywide Complaint    0 non-null       float64
 39  Vehicle Type                    99 non-null      object
 40  Taxi Company Borough            117 non-null     object
 41  Taxi Pick Up Location           1059 non-null    object
 42  Bridge Highway Name             185 non-null     object
 43  Bridge Highway Direction        185 non-null     object
 44  Road Ramp                       180 non-null     object
 45  Bridge Highway Segment          219 non-null     object
 46  Garage Lot Name                 49 non-null      object
 47  Ferry Direction                 24 non-null      object
 48  Ferry Terminal Name             70 non-null      object
 49  Latitude                        98143 non-null   float64
 50  Longitude                       98143 non-null   float64
 51  Location                        98143 non-null   object
dtypes: float64(5), int64(1), object(46)
memory usage: 44.1+ MB

12. Wyświetl tylko kolumny Borough i Agency i tylko 5 ostatnich linii.

In [41]:
data[['Borough','Agency']].tail()

          Borough Agency
111064   BROOKLYN    DPR
111065     QUEENS   NYPD
111066  MANHATTAN   NYPD
111067   BROOKLYN   NYPD
111068   BROOKLYN   NYPD

13. Wyświetl tylko te dane, dla których wartość z kolumny Agency jest równa
NYPD. Zlicz ile jest takich przykładów.

In [57]:
len(data[data['Agency'] == 'NYPD'].Agency)

15295

14. Wyświetl wartość minimalną i maksymalną z kolumny Longitude.

In [58]:
data['Longitude'].max()

-73.70127761473603

In [59]:
data['Longitude'].min()

-74.25443731808713

15. Dodaj kolumne diff, która powstanie przez sumowanie kolumn Longitude i Latitude.

In [76]:
data['sum'] = data.Longitude + data.Latitude
data.sample(5)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location,sum
107502,26442043,10/05/2013 12:00:00 AM,NaN,HPD,Department of Housing Preservation and Develop...,PLUMBING,WATER-LEAKS,RESIDENTIAL BUILDING,11105,21-06 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,40.778501,-73.918745,"(40.77850055071244, -73.91874471452377)",-33.140244
62618,26500373,10/17/2013 10:14:00 AM,10/18/2013 12:00:00 PM,DSNY,BCC - Staten Island,Sanitation Condition,15 Street Cond/Dump-Out/Drop-Off,Street,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23268,26560085,10/25/2013 04:14:15 PM,10/30/2013 04:09:05 PM,DOT,Department of Transportation,Broken Muni Meter,Coin or Card Did Not Register,Street,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74772,26489237,10/14/2013 04:29:00 PM,10/15/2013 12:00:00 PM,DSNY,Queens West 03,Sanitation Condition,12 Dead Animals,Sidewalk,11368,33-47 105 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.756921,-73.863556,"(40.756921393262594, -73.86355595500538)",-33.106635
47055,26527878,10/21/2013 04:25:29 PM,NaN,TLC,Taxi and Limousine Commission,Taxi Complaint,Driver Complaint,Street,10019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40.761771,-73.979056,"(40.76177065969829, -73.97905595954786)",-33.217285

16. Zlicz wartości dla kolumny 'Descriptor', dla której Agency jest
równe NYPD.

In [78]:
filter = data['Agency'] == 'NYPD' 
data[filter].Descriptor.shape[0]

15295